* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --neon_btn_color: #7FFF00;
    --tran: 0.2s;
    --tran_delay: 0.25s;
}
/* colors #2196f3 #7FFF00 #FF1493 #00BFFF*/

.neon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #031321;
    /* font-family: ; */
}

.neon a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: var(--neon_btn_color);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: calc(var(--tran)*1);
}

.neon a:hover {
    color: #255784;
    background-color: var(--neon_btn_color);
    box-shadow: 0 0 10px var(--neon_btn_color), 0 0 40px var(--neon_btn_color), 0 0 80px var(--neon_btn_color);
    /* transition-delay: 1s; */
    transition-delay: calc(var(--tran_delay)*2);
}

.neon a span {
    position: absolute;
    display: block;
}

.neon a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--neon_btn_color));
}

.neon a:hover span:nth-child(1) {
    left: 100%;
    /* transition: 1s; */
    transition: calc(var(--tran)*2.5);
}

.neon a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--neon_btn_color));
}

.neon a:hover span:nth-child(2) {
    top: 100%;
    /* transition: 1s;
    transition-delay: 0.25s; */
    transition: calc(var(--tran)*2.5);
    transition-delay: calc(var(--tran_delay)/2);
}

.neon a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--neon_btn_color));
}

.neon a:hover span:nth-child(3) {
    right: 100%;
    /* transition: 1s;
    transition-delay: 0.5s; */
    transition: calc(var(--tran)*2.5);
    transition-delay: calc(var(--tran_delay)*1);
}

.neon a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--neon_btn_color));
}

.neon a:hover span:nth-child(4) {
    bottom: 100%;
    /* transition: 1s;
    transition-delay: 0.75s; */
    transition: calc(var(--tran)*2.5);
    transition-delay: calc(var(--tran_delay)*1.5);
}

